services:
  db:
    image: postgis/postgis:17-3.5-alpine
    env_file: .env
    restart: unless-stopped
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    volumes:
      - db-data:/var/lib/postgresql/data
  migrator:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime-migrator
    depends_on:
      db:
        condition: service_healthy
    environment:
      ConnectionStrings__AntennaDb: "User ID=${POSTGRES_USER};Password=${POSTGRES_PASSWORD};Host=${POSTGRES_HOST};Port=5432;Database=${POSTGRES_DB};Pooling=true;MinPoolSize=0;MaxPoolSize=100;Connection Idle Lifetime=300;"
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime-api
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
    environment:
      ConnectionStrings__AntennaDb: "User ID=${POSTGRES_USER};Password=${POSTGRES_PASSWORD};Host=${POSTGRES_HOST};Port=5432;Database=${POSTGRES_DB};Pooling=true;MinPoolSize=0;MaxPoolSize=100;Connection Idle Lifetime=300;"
volumes:
  db-data: